- var title = 'login'
include ./templates/head.pug

body
    include ./templates/header.pug
    main(class="login-page")
        include ./templates/aside.pug
        include ./templates/login-form.pug
    include ./templates/footer.pug
