- var title = 'profile'
include ./templates/head.pug

body
    include ./templates/header.pug
    main
        div(class="user-name") User name
        div(class="user-subjects") Subjects
        div(class="user-grad-from") graduated from
        div(class="academic-degree") academic degree
    include ./templates/footer.pug