- var title = 'registration'
include ./templates/head.pug

body
    include ./templates/header.pug
    main(class="login-page")
        include ./templates/aside.pug
        include ./templates/registration-form.pug
    include ./templates/footer.pug
    script(src="/js/validation.js")