footer
    ul(class="footer-nav")
        li: a(class="footer-link" href="#" title="") Some info
        li: a(class="footer-link" href="#" title="") Some info
        li: a(class="footer-link" href="#" title="") Some info